.box {
  width: 68%;
  margin: auto;
  h1 {
    color: #dd3aeb;
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
    padding-top: 29px;
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 31px;
    word-spacing: 2px;
  }
}
@media (max-width:1000px) {
  .box{

    p{
    font-size: 1.1rem;
   
  }
}
}
