.navbar {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
.navbar .logo{
    margin-left: 5rem;
}
.navbar .content {
  display: flex;
  justify-content: right;
  gap: 5rem;
  margin-right: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
    height: 110px;
}
.logo img{
    height: 117px;
  width: 156px;
  object-fit: cover;
}
.navbar .content a{
    color: rgb(3, 3, 3);
    font-size: 18px;
    text-decoration: none;
}
.content a:hover {
  color: #512a80; /* Light grey text color */
  border-bottom: 2px solid #512a80; /* Underline effect */
}

/* Active link */
.content a.active {
  background-color:#512a80;
  height: 2rem;
  width: 4rem;
  color: #f0f0f0;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}