*{
    margin: 0;
    padding: 0;
}
.services{
    max-height: auto;
    background-color: darkgray;
    h1{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        padding: 40px 0px;
        color: #491e7d;
        font-family: "Copperplate Gothic";
}}